<div class="alert alert-danger post-action-notification" role="alert">
  <p>
    Oops! We have discovered some issues with this Dataset's fields that
    may put any updates in an invalid state. <br>
    Unfortunately updates are <strong>disabled</strong> at this time. <br>
    Please shoot us an email at
    <a href="mailto:ask_metadata@linkedin.com">ask_metadata@linkedin.com</a>
    and we will get on this asap! <br>
    Our apologies.
  </p>
</div>